body {
    height: 100vh;
    margin: 0;
    background-color: linear-gradient(135deg, #2c3e50, #4ca1af);
    background-size: contain;
    background-position: center;
}

aside {
    grid-area: sidebar;
}
main {
    grid-area: main;
    padding: 16px;
    background-color: #F1CFFC;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "sidebar main";
    grid-template-columns: 280px;
}





