.to-do-modals {
    padding: 2rem;
    display: none;
    transform: scale(0.8);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.tdfi {
    font-size: 2rem;
    margin-top: 25px;
}

.to-do-modals  legend {
    font-size: 2rem;
}



.dates-for-to-do-section {
    /* border: solid hotpink; */
    margin-top: 25px;
    margin-bottom: 25px;
}
.dates-for-to-do-section input,select,option {
    font-size: 2rem;
    text-align: center;
}
/* To do task input section */
.todo-name-field-section {
    display: flex;
    flex-direction: column;
}

.todo-name-field-section > input {
    min-height: 2rem;
    font-size: 2rem;
    resize: vertical;
    overflow: auto;
    width:100%;
    border:2px solid #aaa;
    border-radius:4px;
    margin:8px 0;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
}

.todo-name-field-section > input:focus {
    border-color:dodgerBlue;
    box-shadow:0 0 8px 0 dodgerBlue;
}

.todo-name-field-section {
    padding: 24px;
}

/* Due Date Section */

.due-date {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.due-date label {
    font-size: 1.8rem;
}
.due-date img {
    width: 50px;
}

.due-date > input, .todo-remindars > input, .frequency-of-todo > select, .todo-priority-section > select {
    width:100%;
    border:2px solid #aaa;
    border-radius:8px;
    margin:8px 0;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
    background-color: transparent;
    cursor: pointer;
}

.frequency-of-todo > select:hover, .todo-priority-section > select:hover, .due-date > input:hover, .todo-remindars > input:hover, #todoinput:hover{
    border-color: #FFD700;
}
.due-date > input:focus, .todo-remindars > input:focus, .frequency-of-todo > select:focus {
    border-color:dodgerBlue;
    box-shadow:0 0 8px 0 dodgerBlue;
}

.todo-priority-section > select  option:nth-child(1)
{
    background-color: red;
}
.todo-priority-section > select  option:nth-child(2)
{
    background-color: yellow;
}
.todo-priority-section > select  option:nth-child(3)
{
    background-color: blue;
}
.todo-priority-section > select  option:nth-child(4)
{
    background-color: violet;
}
.todo-priority-section > select  option:nth-child(5)
{
    background-color: greenyellow;
}

.todolabel {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 8px;
}

.todolabel img {
    width: 50px;
}
.todolabel label {
    font-size: 1.8rem;
}



/* frequency-of-todo */

.frequency-of-todo {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* To Do Reminders */

.todo-remindars {
    display: flex;
    flex-direction: column;
    flex: 1;
}


/* to-do-daily-or-not */

.todo-priority-section {
    display: flex;
    flex-direction: column;
    flex: 1;
}



.dates-for-to-do-section {
    display: flex;
    /* border: solid; */
    align-items: last baseline;
    gap: 16px;
    padding: 24px;
}




/* To do Action Button */

.todo-action-buttons {
    display: flex;
    /* border: solid; */
    justify-content: end;
    gap: 24px;
    padding: 16px;
}

.todo-action-buttons > button {
    font-size: 2rem;
    padding: 8px;
    flex: 1;
    border-radius: 8px;
}


/* To Do Action Buttons */

.todo-action-buttons > button:nth-child(1)
{
    background-color: #28a745;
    border: none;
}
.todo-action-buttons > button:nth-child(1):hover
{
    background-color: #218838;
    border: none;
}



.todo-action-buttons > button:nth-child(3)
{
    background-color: #dc3545;
    border: none;
}

.todo-action-buttons > button:nth-child(3)
{
    background-color: #c82333;
    border: none;
}

.todo-action-buttons > button:nth-child(2)
{
    background-color: #fd7e14;
    border: none;
}

.todo-action-buttons > button:nth-child(2):hover
{
    background-color: #e67300;
    border: none;
}


.todo-action-buttons > button:hover {
    transform: scale(1.05);
}
.todo-action-buttons {
    border-top: 2px solid;
    padding-top: 32px;
}

.to-do-modals > form {
    background-color: transparent;
    box-shadow:
0 1px 1px hsl(0deg 0% 0% / 0.075),
0 2px 2px hsl(0deg 0% 0% / 0.075),
0 4px 4px hsl(0deg 0% 0% / 0.075),
0 8px 8px hsl(0deg 0% 0% / 0.075),
0 16px 16px hsl(0deg 0% 0% / 0.075);
border-radius: 16px;
}
legend {}
input {
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
  }
  
#tddon > option {
    background-color: gray;
}
  
.to-do-modals.show {
    display: block;
    /* display: block; */
    opacity: 1;
    transform: scale(1);
}


